{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Nosotros - Green Limon</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- Ícono pestaña -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="{% static 'images/limon.png' %}" alt="Logo Green Limon" class="logo-img">
                <span>Distribuidora Green Limon</span>
            </div>
            <ul>
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="{% url 'productos' %}">Productos</a></li>
                <li><a href="{% url 'distribucion' %}">Distribución</a></li>
                <li><a href="{% url 'contacto' %}">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <section class="content">
        <h1>Sobre Nosotros</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Suspendisse potenti. Praesent fermentum est in turpis gravida, 
        a ullamcorper odio tempor.</p>
    </section>
</body>
</html>
