{% extends "verdeLimonTemplates/crud/base_crud.html" %}

{% block crud_content %}
<h2>Lista de Ubicaciones de Centros</h2>
<a href="{% url 'ubicacion_centro_add' %}" class="btn btn-primary mb-3">Agregar Ubicación de Centro</a>
<table class="table">
    <thead>
        <tr>
            <th>ID Centro</th>
            <th>Latitud</th>
            <th>Longitud</th>
            <th>Referencia</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for ubicacion in ubicaciones_centros %}
        <tr>
            <td>{{ ubicacion.id_centro.centro_nombre }}</td>
            <td>{{ ubicacion.ubicacion_latitud }}</td>
            <td>{{ ubicacion.ubicacion_longitud }}</td>
            <td>{{ ubicacion.ubicacion_referencia }}</td>
            <td>
                <a href="{% url 'ubicacion_centro_edit' ubicacion.pk %}" class="btn btn-sm btn-warning">Editar</a>
                <a href="{% url 'ubicacion_centro_delete' ubicacion.pk %}" class="btn btn-sm btn-danger">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

